/* You can add global styles to this file, and also import other style files */
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; 
/* Add application styles & imports to this file! */
/* @import url("theme.scss");*/

body {
    font-family: Lato;
    padding: 0;
    margin: 0;
  }
  .fill-space {
    flex: 1 1 auto;
  }
  
  
