<div fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-error">{{fsmContext.errorMessage}}</div>
  <form class="example-form">
    <mat-form-field class="w4c-full-width">
      <input matInput placeholder="Application name" [formControl]="applicationNameFormCtrl" name="applicationName" required>
    </mat-form-field>
    <mat-form-field class="w4c-full-width" *ngIf="!this.fsmContext.application">
      <input matInput
             placeholder="Application archive name"
             [(ngModel)]="archiveName"
             name="archiveName"
             [disabled]="(fsmContext.application) ? true : false"
             required>
    </mat-form-field>
    <mat-form-field class="w4c-full-width" floatLabel="never">
      <textarea matInput placeholder="Application description" rows="4" [(ngModel)]="applicationDescription"
        name="applicationDescription"></textarea>
    </mat-form-field>
  </form>

  <w4c-wizard-control [fsmContext]="fsmContext"
                      [displayBackward]="false"
                      [forwardFn]="createApp.bind(this)"
                      [forwardAltLabel]="(fsmContext.application) ? 'update application' : 'create application'"
                      class="w4c-full-width"
  ></w4c-wizard-control>
</div>
