<mat-tab-group [backgroundColor]="primary">
    <mat-tab label="Description">
        <div class="example-large-box mat-elevation-z2"> {{details.description}} </div>
    </mat-tab>
    <mat-tab label="Méta-proprietés">
        <div class="example-large-box mat-elevation-z2">
            <!--<a>Méta-proprietés : </a> <br>  -->
            <ul>
                <li *ngFor="let item of metas"><br><br><span> Name : {{ item.name }}<br> Description : {{ item.description }}
                    </span> <br><br></li>
            </ul>
        </div>
    </mat-tab>
    <mat-tab label="Liste des modules"> content 3</mat-tab>
</mat-tab-group>