<mat-form-field class="full-width">
  <!-- Standard input -->
  <input *ngIf="pfd.formType == 'INPUT' && !isLongText" matInput placeholder="{{ pfd.label }}"
         [formControl]="pfd.formControl"
         [required]="pfd.definition.required"
         [type]="pfd.inputType" />
  <!-- Text input in long text  -->
  <textarea *ngIf="pfd.formType == 'INPUT' && isLongText"
            matInput
            placeholder="{{ pfd.label }}"
            [formControl]="pfd.formControl"
            [required]="pfd.definition.required"
            matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=20
  >
  </textarea>
  <!-- Checkbox for boolean property -->
  <input *ngIf="pfd.formType == 'CHEKBOX'" matInput style="display: none" [formControl]="pfd.formControl">
  <mat-checkbox *ngIf="pfd.formType == 'CHEKBOX'"
                [required]="pfd.definition.required"
                [checked]="pfd.displayableValue == 'true'"
                (change)="pfd.formControl.setValue(($event.checked)?'true':'false')">
    {{ pfd.label }}
  </mat-checkbox>
  <!-- Select for validValues constrained property -->
  <mat-select *ngIf="pfd.formType == 'SELECT'"
              placeholder="{{ pfd.label }}"
              [formControl]="pfd.formControl"
              [required]="pfd.definition.required">
    <mat-option *ngFor="let validValue of pfd.validValues" [value]="validValue">
      {{validValue}}
    </mat-option>
  </mat-select>
  <!-- Display error coming from backend -->
  <mat-error *ngIf="pfd.formControl.hasError('constraint')">
    {{ pfd.formControl.getError('constraint') }}
  </mat-error>
  <button *ngIf="pfd.formType == 'INPUT' && pfd.inputType == 'text'" mat-button matSuffix mat-icon-button (click)="isLongText = !isLongText">
    <mat-icon *ngIf="!isLongText">zoom_out_map</mat-icon>
    <mat-icon *ngIf="isLongText">fullscreen_exit</mat-icon>
  </button>
  <button disabled="true" mat-button matSuffix mat-icon-button (click)="resetValue()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button [disabled]="!pfd.definition.description" mat-button matSuffix mat-icon-button
          (click)="displayDescription()"
          matTooltip="{{ pfd.definition.description }}">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-form-field>
