<mat-form-field class="w4c-full-width" #matFormField>
  <!-- Standard input -->
  <input *ngIf="pfd.formType == 'INPUT' && !isLongText"
         matInput
         placeholder="{{ pfd.label }}"
         [id]="id"
         [formControl]="pfd.formControl"
         [required]="pfd.definition.required"
         [type]="pfd.inputType" />
  <!-- Text input in long text mode -->
  <textarea *ngIf="pfd.formType == 'INPUT' && isLongText"
            matInput
            placeholder="{{ pfd.label }}"
            [id]="id"
            [formControl]="pfd.formControl"
            [required]="pfd.definition.required"
            matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=20>
  </textarea>
  <!-- Slide Toggle for boolean property -->
  <input *ngIf="pfd.formType == 'CHEKBOX'" matInput style="display: none" [formControl]="pfd.formControl">
  <mat-slide-toggle *ngIf="pfd.formType == 'CHEKBOX'"
                    [required]="pfd.definition.required"
                    labelPosition="after"
                    [id]="id"
                    (focusin)="onFocusIn()"
                    (focusout)="onFocusOut()"
                    [checked]="pfd.formControl.value == 'true'"
                    (change)="pfd.formControl.setValue(($event.checked)?'true':'false')">
    {{ pfd.label }}
  </mat-slide-toggle>
<!--  <input *ngIf="pfd.formType == 'CHEKBOX'" matInput style="display: none" [formControl]="pfd.formControl">
  <mat-checkbox *ngIf="pfd.formType == 'CHEKBOX'"
                [required]="pfd.definition.required"
                [checked]="pfd.displayableValue == 'true'"
                (change)="pfd.formControl.setValue(($event.checked)?'true':'false')">
    {{ pfd.label }}
  </mat-checkbox>-->
  <!-- Slider when option is used -->
  <input *ngIf="pfd.formType == 'SLIDER'" matInput style="display: none" [formControl]="pfd.formControl">
  <div *ngIf="pfd.formType == 'SLIDER'">
    <mat-slider
                [min]="pfd.definition.options.sliderMin"
                [max]="pfd.definition.options.sliderMax"
                [step]="pfd.definition.options.sliderStep"
                [value]="pfd.formControl.value"
                (valueChange)="pfd.formControl.setValue($event)"
                (focusin)="onFocusIn()"
                (focusout)="onFocusOut()"
                [id]="id"
                thumbLabel>
    </mat-slider>
    <span class="mat-form-field-label mat-form-field-appearance-legacy">{{ pfd.label }}</span>
  </div>
  <!-- Select for validValues constrained property -->
  <mat-select *ngIf="pfd.formType == 'SELECT'"
              placeholder="{{ pfd.label }}"
              [id]="id"
              [formControl]="pfd.formControl"
              [required]="pfd.definition.required">
    <mat-option *ngFor="let validValue of pfd.validValues" [value]="validValue">
      {{validValue}}
    </mat-option>
  </mat-select>
  <!-- Display error coming from backend -->
  <mat-error *ngIf="pfd.formControl.hasError('constraint')">
    {{ pfd.formControl.getError('constraint') }}
  </mat-error>
  <button *ngIf="pfd.definition.password" mat-button matPrefix mat-icon-button (click)="switchPasswordVisibility()">
    <mat-icon>{{pfd.inputType == 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <!-- Switch to long text mode button -->
  <button *ngIf="pfd.formType == 'INPUT' && pfd.inputType == 'text'" mat-button matSuffix mat-icon-button (click)="isLongText = !isLongText">
    <mat-icon>{{ (isLongText) ? 'fullscreen_exit' : 'zoom_out_map' }}</mat-icon>
  </button>
  <button *ngIf="pfd.units" mat-button matSuffix [matMenuTriggerFor]="menuUnit">{{ (pfd.unit) ? pfd.unit : pfd.units[0] }}</button>
  <mat-menu #menuUnit="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let unit of pfd.units;" (click)="changeScalarUnit(unit)">{{ unit }}</button>
  </mat-menu>

  <!-- Switch to default value button -->
  <button [disabled]="!pfd.definition.default" mat-button matSuffix mat-icon-button
          matTooltip="{{ 'shared.PropertyEditor.SetDefault' | translate }}"
          (click)="resetDefault($event)">
    <mat-icon>refresh</mat-icon>
  </button>

  <!-- Description icon (it's also a button to have the same size than others) -->
  <!-- TODO: display description in a modal or something more readable on click -->
  <button [disabled]="!pfd.definition.description" mat-button matSuffix mat-icon-button
          (click)="displayDescription($event)"
          matTooltip="{{ pfd.definition.description }}">
    <mat-icon>help_outline</mat-icon>
  </button>
</mat-form-field>
