<div fxLayout="column" class="w4c-wizard-form">
  <div fxLayout="column" fxLayoutAlign="center center">
    <form class="inputs-form">
      <w4c-property-editor
        *ngFor="let pfd of propertieFormDefitions;"
        [propertyDefinition]="pfd.definition"
        [formGroup]="inputsForm"
        [id]="pfd.inputName"
        [label]="pfd.inputName"
        [value]="pfd.value"
        (valueChange)="inputValueChanged(pfd.inputName, $event)">
      </w4c-property-editor>
    </form>
  </div>
</div>
<w4c-wizard-control [fsmContext]="fsmContext"
                    [forwardFn]="doSearchLocation.bind(this)"
                    [forwardEnabledFn]="formIsValid.bind(this)">
</w4c-wizard-control>


