<div fxLayout="column" fxLayoutAlign="center center">
  <form class="inputs-form">
    <w4c-property-editor
      *ngFor="let pfd of propertieFormDefitions;"
      [propertyDefinition]="pfd.definition"
      [formGroup]="inputsForm"
      [id]="pfd.inputName"
      [label]="pfd.inputName"
      [value]="pfd.value"
      (valueChange)="inputValueChanged(pfd.inputName, $event)">
    </w4c-property-editor>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-stroked-button [disabled]="inputsForm.invalid" (click)="doSearchLocation()">Next</button>
</div>



