<div fxLayout="row" fxLayoutAlign="center center">
  <form class="example-form">
    <p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom de l'application"  [(ngModel)]="displayArchiveName"  name="displayArchiveName"  value="{{displayArchiveName}}">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width"  floatLabel="never" >
        <textarea matInput placeholder="Description" rows="4" [(ngModel)]="displayDescription" name="displayDescription" >{{displayDescription}}</textarea>
      </mat-form-field>
    </p>
  </form>
</div>