<w4c-deployment-validation-tasks [topologyValidationResult]="fsmContext.deploymentTopologyDTO.validation"></w4c-deployment-validation-tasks>
<div fxLayout="row">
  <div fxLayout="column" class="w4c-wizard-form" fxFlex="30%">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let e of fsmContext.deploymentTopologyDTO.availableSubstitutions.availableSubstitutions | keyvalue;"
        [expanded]="selectedType == 'node'"
      >
        <mat-expansion-panel-header>

          <mat-panel-title xLayout="row" >
            <div fxFlex="10%">
              <mat-icon matTooltip="Node matching" >widgets</mat-icon>
            </div>
            <div fxFlex="40%">
              {{ e.key }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group (change)="changeSubstitution(e.key, $event)" aria-label="Select an option" fxLayout="column" [value]="fsmContext.deploymentTopologyDTO.topology.substitutedNodes[e.key]">
          <mat-radio-button *ngFor="let resourceTemplateId of e.value" [value]="resourceTemplateId">
            <!-- TODO: use a shared templateComponent to properly display a node template -->
            {{ fsmContext.deploymentTopologyDTO.availableSubstitutions.substitutionsTemplates[resourceTemplateId].name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>

      <mat-expansion-panel
        *ngFor="let e of fsmContext.deploymentTopologyDTO.availableSubstitutions.availablePoliciesSubstitutions | keyvalue;"
        [expanded]="selectedType == 'policy' && selectedNodeId == e.key"
      >
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row">
            <div fxFlex="10%">
              <mat-icon matTooltip="Policy matching">tune</mat-icon>
            </div>
            <div  fxFlex="40%">
              {{ e.key }}
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group (change)="changePoliciesSubstitution(e.key, $event)"
                         aria-label="Select an option"
                         fxLayout="column" [value]="fsmContext.deploymentTopologyDTO.topology.substitutedPolicies[e.key]">
          <mat-radio-button *ngFor="let resourceTemplateId of e.value" [value]="resourceTemplateId" (click)="displayPoliciesSubstitution(e.key, resourceTemplateId)">
            <!-- TODO: use a shared templateComponent to properly display a node template -->
            {{ fsmContext.deploymentTopologyDTO.availableSubstitutions.substitutionsPoliciesTemplates[resourceTemplateId].name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div fxLayout="column" class="w4c-wizard-form" fxFlex="70%">
    <w4c-template-properties-editor
      [wrapper$]="wrapperSubject$"
      (propertyValueChange)="onPropertyValueChanged($event)"
      [propertyEditorContext]="fsmContext.propertyEditionContext"
    >
    </w4c-template-properties-editor>
  </div>
</div>
<w4c-wizard-control [fsmContext]="fsmContext"
                    [forwardFn]="doCompleteMatching.bind(this)"
                    [forwardEnabledFn]="isSubstitutionValid.bind(this)">
</w4c-wizard-control>
