

<!-- vertical layout test -->
<div fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="row" fxLayoutAlign="center start" class="w4c-full-width" >
    <mat-vertical-stepper [linear]="true" #applicationWizardStepper>
      <mat-step *ngFor="let step of steps;" editable="false" completed="false">
        <ng-template matStepLabel>{{ 'Wizard.Forms.' + step.id + ".stepTitle" | translate }}</ng-template>
      </mat-step>
    </mat-vertical-stepper>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100%">
      <hero-loader class="w4c-full-width" *ngIf="showFsmGraph" moduleName="src/main/webapp/app/features/fsm-graph/fsm-graph.module#FsmGraphModule"></hero-loader>
      <w4c-wizard-step-container class="w4c-full-width"></w4c-wizard-step-container>
    </div>
  </div>
</div>

<!--  <hero-loader *ngIf="showFsmGraph" moduleName="src/main/webapp/app/features/fsm-graph/fsm-graph.module#FsmGraphModule"></hero-loader>-->
<!--  <mat-horizontal-stepper [linear]="true" #applicationWizardStepper>-->
<!--    <mat-step *ngFor="let step of steps;" editable="false" completed="false">-->
<!--      <ng-template matStepLabel>{{ step.stepLabel }}</ng-template>-->
<!--    </mat-step>-->
<!--  </mat-horizontal-stepper>-->
<!--  <w4c-wizard-step-container></w4c-wizard-step-container>-->
