<br><br>
<mat-horizontal-stepper [linear]="isLinear" #stepper [@.disabled]="true">
    <br>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Choix modèle application</ng-template>

            <!-------------------------------------------TOPOLOGY TEMPLATE--------------------------------------------------------------------------->

            <app-topology-template  (selectedTopologyChanged)="getSelectedTopologyFromChild($event)">Chargement ...</app-topology-template>
            <!----------------------------------------------------------------------------------------------------------------------------------->

            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
                <button mat-stroked-button matStepperNext >Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Description</ng-template>


            <!-------------------------------------------TOPOLOGY TEMPLATE--------------------------------------------------------------------------->
           
            <app-application-description [selectedTopoArchiveName] = "selectedTopoArchiveName"  [selectedTopoDescription]="selectedTopoDescription">Chargement...</app-application-description>

            <!----------------------------------------------------------------------------------------------------------------------------------->

            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
                <button mat-stroked-button matStepperPrevious>Précédent</button>
                <button mat-stroked-button matStepperNext (click)="createAppByTopo()">Suivant</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Choix cible</ng-template>


            <!-------------------------------------------TOPOLOGY TEMPLATE--------------------------------------------------------------------------->
            solution here

            <!----------------------------------------------------------------------------------------------------------------------------------->

            <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
                <button mat-stroked-button matStepperPrevious>Précédent</button>
                <button mat-stroked-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Validation</ng-template>
        Fini
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
            <button mat-stroked-button matStepperPrevious>Précédent</button>
            <button mat-stroked-button (click)="stepper.reset()">Annuler</button>
            <button mat-stroked-button [routerLink]="['/applications']">Déployer</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>