<div fxLayout="column">

  <span>Deployment status : {{ fsmContext.deploymentStatus }}</span>

  <div *ngIf="!isWorkflowInProgress; else deploying" fxLayout="row" fxFlex="100%">
    <h2>No workflow in progress</h2>
  </div>


  <ng-template #deploying>
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
      <h2 *ngIf="isWorkflowInProgress">Workflow in progress ...</h2>
      <h2 *ngIf="!isWorkflowInProgress">Workflow executed (but maybe with error !)</h2>
      <mat-progress-bar *ngIf="isWorkflowInProgress && !progessBarData" mode="indeterminate"></mat-progress-bar>
      <mat-progress-bar *ngIf="progessBarData" mode="determinate" value="{{ progessBarData.progress }}"
        [color]="(progessBarData.status && progessBarData.status.toString() == 'FAILED') ? 'warn' : 'primary'">
      </mat-progress-bar>
      <span *ngIf="progessBarData">Wf: {{ progessBarData.workflowName }} - status: {{ progessBarData.status }} -
        progess:
        {{ progessBarData.progress }}</span>
    </div>
  </ng-template>

  <br><br>
  <mat-divider></mat-divider>
  <br>
  <div fxLayout="row" fxLayoutAlign="center center">
    <w4c-wizard-button enableOnGuard="canUndeploy" [fsmContext]="fsmContext" (click)="doUndeploy()" label="Undeploy"></w4c-wizard-button>
    <w4c-wizard-button enableOnGuard="canDeploy" [fsmContext]="fsmContext" (click)="doDeploy()" label="Deploy"></w4c-wizard-button>
  </div>
</div>
