<div #mainDiv class="wfGraphViewer">

  <ngx-graph *ngIf="graph"
             class="chart-container"
             layout="dagre"
             [curve]="curve"
             [autoCenter]="true"
             [autoZoom]="true"
             [links]="graph.edges"
             [nodes]="graph.nodes"
             [panToNode$]="panToNode$"
             [nodeWidth]=150
             [view]="[800,200]"
  >

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
      </svg:marker>
    </ng-template>

    <ng-template #clusterTemplate let-cluster>
      <svg:g
        class="node cluster"
        ngx-tooltip
        [tooltipPlacement]="'top'"
        [tooltipType]="'tooltip'"
        [tooltipTitle]="cluster.label"
      >
        <svg:rect
          rx="5"
          ry="5"
          [attr.width]="cluster.dimension.width"
          [attr.height]="cluster.dimension.height"
          [attr.fill]="cluster.data.color"
        />
      </svg:g>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node" [ngClass]="'w4c-WfStepStatus-node-' + node.status">
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [matTooltip]="node.target" matTooltipPosition="above"
          rx="5"
          ry="5"
        />
        <svg *ngIf="node.nodeType" width="5cm" height="4cm" version="1.1"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <image [w4cSvgNoteTypeImageSource]="node.nodeType" x="2" y="2" height="25px" width="25px"/>
        </svg>
        <svg:text alignment-baseline="central" [attr.x]="30" [attr.y]="node.dimension.height / 2" [ngClass]="'w4c-WfStepStatus-txt-' + node.status" >
          {{lodash.truncate(node.label, {'length': 15, 'separator': ' '})}}
        </svg:text>
<!--        <svg:circle *ngIf="!node.stepNode" r="4" stroke="black" stroke-width="3" fill="red" ></svg:circle>-->
      </svg:g>
    </ng-template>
    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path class="line" [ngClass]="(link.data['active']) ? 'activated' : 'desactivated'" stroke-width="2" marker-end="url(#arrow)"></svg:path>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
