<div >
    <div *ngFor="let location  of environmentLocation; ">
        <mat-card _ngcontent-sjx-c16="" class="docs-component-category-list-card mat-card" (click)="clicked(location.location.name)">
            <mat-card-title _ngcontent-sjx-c16="" class="mat-card-title">{{ location.location.name }}</mat-card-title>
            <mat-card-content _ngcontent-sjx-c16="" class="docs-component-category-list-card-summary mat-card-content">
                {{ location.location.orchestratorId}}</mat-card-content>
        </mat-card>  
        <br> 
    </div>
</div>