<!--<div class="container" [class.solution-dark-theme]="isDarkThemeActive"> -->
  <div fxLayout="column" class="container" fxLayout.xs="column" fxLayoutAlign="space-around stretch"  [class.solution-dark-theme]="isDarkThemeActive" fxFill>

    <!-- Header ------------------------------------------------------------------------->
    <div>
      <solution-header [angularVersion]="ngVersion" [materialVersion]="'2.0.0-beta.12'">
      </solution-header>
    </div>
    <!----------------------------------------------------------------------------------->
    <!--<mat-divider></mat-divider> -->
    <!-- Solution ----------------------------------------------------------------------->
    <!--
    <mat-card fxFlex fxLayoutAlign="center start" fxLayout="row" class="solution" [style.borderRadius.px]="'0'"
      [style.paddingTop.px]="'60'">
-->
    <mat-card  class="solution" [style.borderRadius.px]="'0'"
      [style.paddingTop.px]="'60'">
   

      <!-- Solution to your problem here ------------------------------------------------>
      <!--
      <button mat-button>
        <mat-icon>mic</mat-icon> Start Recording
      </button>
      <br />
      <button mat-raised-button color="accent">
        <mat-icon>mic</mat-icon> Start Recording
      </button>
      -->
      <!--------------------------------------------------------------------------------->
 
          <!--<app-status>TEST STATE</app-status>-->
          <!---app-applications></app-applications> -->


            
          <router-outlet></router-outlet>
     
      
      

    </mat-card>

    <!-- Footer ------------------------------------------------------------------------->
    <!--
    <div fxFlex="none">
      <solution-footer></solution-footer>
    </div>
    -->
    <!----------------------------------------------------------------------------------->

  </div>

  
<!--
</div>
-->


