<div fxLayout="row" fxLayoutAlign="center center" class="wizard-control mat-app-background mat-card">
  <w4c-wizard-button (click)="_backward()"
                     *ngIf="displayBackward"
                     [enableOnGuard]="backwardGuard"
                     [enabledFn]="_backwardEnabled.bind(this)"
                     [fsmContext]="fsmContext"
                     [label]="(backwardAltLabel) ? 'Back: ' + backwardAltLabel : 'Back'"
                     matIconName="fast_rewind">
  </w4c-wizard-button>
  <w4c-wizard-button (click)="_cancel($event)"
                     [enableOnGuard]="cancelGuard"
                     [enabledFn]="_cancelEnabled.bind(this)"
                     [fsmContext]="fsmContext"
                     [label]="(cancelLabel) ? cancelLabel : 'Cancel'"
                     matIconName="stop">
  </w4c-wizard-button>
  <!-- A container where a parent can insert buttons if needed. -->
  <ng-container [ngTemplateOutlet]="buttonHookTemplate"></ng-container>
  <w4c-wizard-button (click)="_forward($event)"
                     [enableOnGuard]="forwardGuard"
                     [enabledFn]="_forwardEnabled.bind(this)"
                     [fsmContext]="fsmContext"
                     [label]="(forwardAltLabel) ? 'Next: ' + forwardAltLabel : 'Next'"
                     matIconName="fast_forward"
                     [matIconAtEnd]="true">
  </w4c-wizard-button>
</div>
