@import '~@angular/material/theming';

.locations-component-list-summary {
  padding: 25px 40px 0;
}

.locations-component-list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.locations-component-list-item {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  display: flex;
  margin: 20px;
  vertical-align: top;
  //width: 300px;
  text-decoration: none;

  .mat-card-title {
    font-size: 20px;
  }

  &:hover, &:focus {
    //text-decoration: none;
    @include mat-elevation(8);
  }
}

.locations-component-list-item-disabled {
  @include mat-elevation-transition;
  @include mat-elevation(0);

  //pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;

  &:hover, &:focus {
    //text-decoration: none;
    @include mat-elevation(0);
  }
}

.locations-component-list-card-summary {
  min-height: 2.4em;
  margin-bottom: 8px;
  //height: 80px;
}
.locations-component-list-autoselected-item {
  @include mat-elevation(8);
}