<div class="locations-component-list">
    <a *ngFor="let location  of environmentLocation; " 
      class="locations-component-list-item"
      [ngClass]="{'locations-component-list-item-disabled': !location.ready , 'locations-component-list-autoselected-item': deploymentTopology.locationPolicies['_A4C_ALL'] === location.location.id }"
      href="typescript:void(0)"
      (mouseover)="location.ready"
      (mouseout)="location.ready"
      (click)="selectLocation(location.location.id,location.location.name,location.orchestrator.id)" >
      <mat-card class="locations-component-list-card">
        <mat-card-header fxLayoutAlign="space-between center" class="locations-component-list-header">
          <mat-card-title [ngClass]="{'w4c-primary-text-A200':location.ready}" flex>{{ location.location.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="locations-component-list-card-summary">Orchestrator : {{ location.orchestrator.name}}</mat-card-content>
      </mat-card>
    </a>
    
</div>
  