.docs-component-category-list[_ngcontent-sjx-c16] {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}


.docs-component-category-list-item[_ngcontent-sjx-c16], .docs-component-category-list-item[_ngcontent-sjx-c16]:active, .docs-component-category-list-item[_ngcontent-sjx-c16]:focus, .docs-component-category-list-item[_ngcontent-sjx-c16]:hover {
  text-decoration: none;
}


.docs-component-category-list-item[_ngcontent-sjx-c16] {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 260px;
}