.mat-card {
  font-size: 12px;
  height: 210px;
  width: 180px;
  padding: 10px;
  margin: 10px;
}

.catalog-component-icon {
  //height: 40px;
  width: 40px;
}

.catalog-description {
  max-height: 100px;
  padding: 5px;
  overflow: auto;
}

.catalog-meta-prop {
  padding: 0px;
  //height: 50px;
  overflow: auto;
}


.meta-chip {
  font-size: 8px;
  min-height: 18px;
  text-align: center
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}

.catalog-component-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.mat-card-subtitle, .mat-card-content {
  font-size: 10px;
}



