<div fxLayout="column">

  <w4c-filtered-search-bar [isLoading$]="isLoading$" [facets$]="facets$" (onSearch)="searchInCatalog($event)"></w4c-filtered-search-bar>

  <div class="catalog-component-list">
    <mat-card *ngFor=" let catalog of catalogs">
      <mat-card-header fxLayoutAlign="start top">
        <div mat-card-avatar>
          <img src="{{catalog|toscaTypeImageSrc}}" class="catalog-component-icon">
        </div>
        <mat-card-title fxLayoutAlign="top">
              <span matTooltip="{{catalog.elementId}}">
                {{ lodash.truncate(catalog.elementId | w4cToscaTypeShortName, {'length': 15}) }}
              </span>
        </mat-card-title>
        <mat-card-subtitle [matTooltip]="catalog.archiveName">
          {{catalog.archiveVersion}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="space-between start">
        <div class="catalog-description" style="font-size: 10px; color:grey;">
          {{catalog.description}}
        </div>
        <div class="catalog-meta-prop" fxLayoutAlign="start start">
          <mat-chip-list>
            <ng-container *ngFor="let namedMetaProperty of catalog.metaProperties | keyvalue;">
              <mat-chip
                *ngIf="namedMetaProperty.value"
                class="meta-chip"
                [matTooltip]="(metaPropConfiguration.get(namedMetaProperty.key)) ? metaPropConfiguration.get(namedMetaProperty.key).name : ''">
                {{namedMetaProperty.value}}
              </mat-chip>
            </ng-container>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
