<div fxLayout="column" class="w4c-wizard-form">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-error">{{fsmContext.errorMessage}}</div>
    <div>
      <p><span>Application : {{fsmContext.application.name}} </span></p>
      <p><span>Version : {{fsmContext.deploymentTopology.topology.archiveVersion}} </span></p>
      <p><span>Location : {{fsmContext.location.name}}</span></p>
    </div>
  </div>

  <div fxLayoutAlign="center center">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" *ngIf="fsmContext.deploymentTopology.validation && fsmContext.deploymentTopology.validation.taskList">
      <mat-chip *ngFor="let task of fsmContext.deploymentTopology.validation.taskList" selected color="warn">
        {{ 'TASK.' + task.code | translate}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<w4c-wizard-control [fsmContext]="fsmContext" [forwardFn]="deployApp.bind(this)" forwardAltLabel="deploy !"
  forwardGuard="canSubmitDeployment">
</w4c-wizard-control>
