@import '../../../../node_modules/@angular/material/theming';

// Styles for the app that are based on the current theme.
@mixin w4c-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .w4c-borders {
    border-color: mat-color($foreground, divider) !important;
    border: 1px solid;
  }

  .w4c-title {
    color: mat-color($primary, A200);
  }

  .w4c-primary-text-A200 {
    color: mat-color($primary, A200);
  }

  .w4c-header {
    background: mat-color($primary);
    color: white;
  }

  // alternate mat-table row colors
  .mat-row:nth-child(even){
    background-color: mat-color($background, focused-button);
  }
  .mat-row:nth-child(odd){
    background-color: mat-color($background);
  }

  .fileover {
    background-color: mat-color($background, focused-button);
  }

}
