@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import './w4c-material-theme';
@import './w4c-static';
//@import './styles/api';
//@import './styles/markdown';
//@import './styles/tables';
//@import './styles/general';


// Include material core styles.
@include mat-core();


// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include w4c-material-theme($theme);
