@import '../../../../../node_modules/@angular/material/theming';

// Styles for the app that are based on the current theme.
@mixin w4c-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .w4c-borders {
    border-color: mat-color($foreground, divider) !important;
    border: 1px solid;
  }

  // FIXME: use w4c-primary-text-A200 for example
  .w4c-title {
    color: mat-color($primary, A200);
  }

  .w4c-primary-text-A200 {
    color: mat-color($primary, A200);
  }
}
