<div fxLayout="column" class="w4c-wizard-form mat-body">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-error">{{fsmContext.errorMessage}}</div>
    <div>
      <p><span>Application : </span><span>{{fsmContext.application.name}}</span></p>
      <p><span>Version : </span><span>{{fsmContext.deploymentTopologyDTO.topology.archiveVersion}}</span></p>
      <p><span>Location : </span><span>{{fsmContext.location.name}}</span></p>
    </div>
  </div>

  <div fxLayoutAlign="center center">
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection" *ngIf="fsmContext.deploymentTopologyDTO.validation && fsmContext.deploymentTopologyDTO.validation.taskList">
      <mat-chip *ngFor="let task of fsmContext.deploymentTopologyDTO.validation.taskList" selected color="warn">
        {{ 'TASK.' + task.code | translate}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
<w4c-wizard-control [fsmContext]="fsmContext" [forwardFn]="deployApp.bind(this)" [forwardAltLabel]="'Wizard.Forms.DeploymentValidationComponent.Deploy' | translate"
  forwardGuard="canSubmitDeployment">
</w4c-wizard-control>
