
.settings-table {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: large;
}

tr {
  height: 50px;
}
.settings-label {
  align: right;
}

mat-slider {
  width: 400px;
}
