<div fxLayout="row" flex fxLayoutGap="10px" fxFlex="100%" fxLayoutAlign="center center">
  <mat-icon>search</mat-icon>
  <mat-form-field fxFlex="50%">
    <input matInput [placeholder]="'shared.FilteredSearchBar.SearchFor' | translate" [formControl]="searchField"
           id="filteredSearchInput" [matAutocomplete]="filters" (keydown.enter)="search()">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let activeFilter of activeFilters; let i = index"
                removable="true" (removed)="removeFilter(activeFilter)"
                class="search-filter-chip"
                [matTooltip]="activeFilter.filterDisplayName">
        {{activeFilter.displayName}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
  <mat-autocomplete #filters="matAutocomplete" (optionSelected)="filterSelected($event)" >
    <mat-optgroup *ngFor="let filter of filteredFilters$ | async" [label]="filter.displayName">
      <mat-option *ngFor="let valueItem of filter.valueItems" [value]="valueItem">
        {{valueItem.displayName}}
        <span *ngIf="valueItem.count"
              [matBadge]="valueItem.count"
              matBadgeOverlap="false"
              matBadgePosition="above after"
              matBadgeSize="small"
        >
        </span>
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</div>
