<div fxLayout="column" fxLayoutAlign="center center" class="w4c-wizard-form">

  <mat-tab-group class="w4c-full-width">
    <mat-tab [label]="'Wizard.Forms.ActiveDeploymentComponent.Monitor' | translate">
      <div fxLayout="row" fxLayoutAlign="center center" class="w4c-full-width" fxFlex="100%">
        <div fxLayout="column" fxLayoutAlign="center center" class="deployment-monitor mat-app-background">
          <div *ngIf="!fsmContext.progessBarData; else deploying" fxLayout="row" fxFlex="100%">
            <h4>{{ 'Wizard.Forms.ActiveDeploymentComponent.NoWorkflowInProgress' | translate }}</h4>
          </div>
          <ng-template #deploying>
            <w4c-workflow-graph-viewer
              [topology]="fsmContext.deploymentTopology"
              workflow="install"
              [workflowExecutionChange]="$workflowExecutionDTO"
              [deploymentTopology]="fsmContext.deploymentTopologyDTO"
            >
            </w4c-workflow-graph-viewer>
          </ng-template>
        </div>
      </div>
      <div>
        <div class="mat-error">{{fsmContext.errorMessage}}</div>
      </div>
    </mat-tab>
    <!-- Outputs -->
    <mat-tab [label]="'Wizard.Forms.ActiveDeploymentComponent.Outputs' | translate" *ngIf="fsmContext.deploymentStatus !== 'UNDEPLOYED' && topologyDTO && topologyDTO.topology && topologyDTO.topology.outputAttributes && instanceInformations">
      <div fxLayout="row" fxLayoutAlign="start start" >
        <div class="attributes-infos">
          <table class="mat-table attributes-infos">
            <tr class="mat-row"
                *ngFor="let node of instanceInformations | w4cFilterTopologyNodes :topologyDTO.topology.outputAttributes | keyvalue">
              <td class="mat-cell deployment-info" >
                <span>{{node.key}}</span>
              </td>
              <td class="mat-cell deployment-info"  *ngIf="topologyDTO.topology.outputAttributes[node.key] && node.value" >
                <ul >
                  <li *ngFor="let instance of node.value | keyvalue">
                    instance {{instance.key}}
                    <ul>
                      <li
                        *ngFor="let attribute of instance.value.attributes | w4cFilterTopologyNodesAttributes : topologyDTO.topology.outputAttributes[node.key] | keyvalue; let k = index">
                        {{attribute.key}}  :
                        <span *ngIf="attribute.value" class="w4c-topology-attributes-values" [innerHTML]="attribute.value | linky : {phone: false}"></span>
                        <em class="w4c-topology-attributes-values" *ngIf="!attribute.value">N/A</em>
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'Wizard.Forms.ActiveDeploymentComponent.Logs' | translate">
      <ng-template matTabContent>
        <w4c-active-deployment-logs [fsmContext]="fsmContext"></w4c-active-deployment-logs>
      </ng-template>
    </mat-tab>
    <!-- Logs -->
  </mat-tab-group>

</div>

<!-- You can add custom buttons in the wizard control like below
1. Add a ng-template
  <ng-template #customButtons>
    <div fxLayout="row">
      <w4c-wizard-button enableOnGuard="canUndeploy" [fsmContext]="fsmContext" (click)="doUndeploy($event)" label="Undeploy"></w4c-wizard-button>
      <w4c-wizard-button enableOnGuard="canDeploy" [fsmContext]="fsmContext" (click)="doDeploy($event)" label="Deploy"></w4c-wizard-button>
    </div>
  </ng-template>
-->
<!--
2. add this to the  <w4c-wizard-control/> tag
[buttonHookTemplate]="customButtons"
-->

<mat-menu #menu="matMenu">
  <button *ngFor="let wf of workflows" mat-menu-item (click)="nextWorkflow = wf">
    <span>{{ wf }}</span>
  </button>
</mat-menu>

<ng-template #customButtons>
  <div fxLayout="row" *ngIf="workflows.size > 0" >
    <button mat-stroked-button [matMenuTriggerFor]="menu">
      <mat-icon>playlist_play</mat-icon>
    </button>
    <w4c-wizard-button
      [enabledFn]="canLaunchWorkflow.bind(this)"
      enableOnGuard="canLaunchWorkflow"
      [fsmContext]="fsmContext"
      (click)="launchWorkflow($event)"
      [label]="nextWorkflow"
      matIconName="play_arrow">
    </w4c-wizard-button>
  </div>
</ng-template>

<w4c-wizard-control [fsmContext]="fsmContext"
                    backwardGuard="canDeploy"
                    [backwardAltLabel]="'Wizard.Forms.ActiveDeploymentComponent.Deploy' | translate"
                    cancelGuard="canUndeploy"
                    [cancelLabel]="'Wizard.Forms.ActiveDeploymentComponent.Undeploy' | translate"
                    [cancelFn]="openUndeployDialog.bind(this)"
                    forwardGuard="canDeploy"
                    [forwardFn]="deleteApplication.bind(this)"
                    [buttonHookTemplate]="customButtons">
</w4c-wizard-control>
