<div *ngIf="overview; else loadingOverview" fxLayout="row" fxFlex="100%">
  <div fxFlex="50%" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title">Description</span>
      <button mat-button (click)="switchGraphView()" color="primary">
        <mat-icon *ngIf="!displayGraph">photo</mat-icon>
        <mat-icon *ngIf="displayGraph">format_align_justify</mat-icon>
      </button>
    </div>
    <div *ngIf="!displayGraph" class="desciption" fxFlex>
      <span>{{ overview.description }}</span>
    </div>
    <div *ngIf="displayGraph" class="desciption" fxFlex>
      <hero-loader moduleName="src/main/webapp/app/features/topology-graph/topology-graph.module#TopologyGraphModule"></hero-loader>
    </div>
  </div>
  <div fxFlex="50%" fxLayout="column">
    <span class="title">Meta-properties</span>
    <div class="metaproperties">
      <mat-chip-list>
        <ng-container *ngFor="let namedMetaProperty of overview.namedMetaProperties;">
          <mat-chip
            *ngIf="namedMetaProperty.value"
            matTooltip="{{namedMetaProperty.configuration.description}}">
            {{namedMetaProperty.configuration.name}}: {{namedMetaProperty.value}}
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
    <span class="title">Modules</span>
    <div class="modules">
      <table mat-table [dataSource]="overview.modules" fxFlex>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element" matTooltip="{{element.nodeType.description}}">
            {{element.nodeType.elementId|toscaTypeShortName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef> Version </th>
          <td mat-cell *matCellDef="let element"
            matTooltip="{{element.nodeType.archiveName}}:{{element.nodeType.archiveVersion}}">
            {{element.nodeType.archiveVersion}}
          </td>
        </ng-container>
        <ng-container matColumnDef="icon">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <img src="{{element.nodeType|toscaTypeImageSrc}}"
                  style="max-height:24px; max-width:24px; height:auto; width:auto;"
                  matTooltip="{{element.nodeType.elementId}}">
          </td>
        </ng-container>
        <ng-container matColumnDef="metaproperties">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-list>
              <ng-container *ngFor="let namedMetaProperty of element.namedMetaProperties;">
                <mat-chip
                  *ngIf="namedMetaProperty.value"
                  matTooltip="{{namedMetaProperty.configuration.description}}">
                  {{namedMetaProperty.configuration.name}}: {{namedMetaProperty.value}}
                </mat-chip>
              </ng-container>
            </mat-chip-list>
          </td>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: modulesDisplayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<ng-template #loadingOverview>
  <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="100"></mat-spinner>
  </div>
</ng-template>
