.desciption {
  height: 300px;
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
}

.metaproperties {
  height: 100px;
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
}

.modules {
  height: 200px;
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
}

.title {
  margin: 6px;
}
