.desciption {
  height: 300px; //Or any other height you wish
  overflow-y: scroll;
  border: 1px dotted;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.metaproperties {
  height: 100px; //Or any other height you wish
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
  border: 1px dotted;
}

.modules {
  height: 200px; //Or any other height you wish
  overflow-y: scroll;
  padding: 5px;
  margin: 5px;
  border: 1px dotted;
}

.title {
  margin: 6px;
  color: #1565c0;
}
