<div fxLayout="column">

  <w4c-filtered-search-bar [isLoading$]="isLoading$" [facets$]="facets$" (onSearch)="searchApplications($event)"></w4c-filtered-search-bar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let application of applications; let isOpenned = false"
      (opened)="isOpenned = true; openDetails(application.id);" (closed)="isOpenned = false; closeDetails()"
      [ngClass]="{'mat-elevation-z14': isOpenned}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxFlex="100%" fxLayoutAlign="start center">
            <div fxFlex="5%">
              <img *ngIf="application.imageId; else defaultIcon"
                [src]="getApplicationImageUrl(application)"
                style="max-height:46px; max-width:46px; height:auto; width:auto;">
              <ng-template #defaultIcon>
                <mat-icon>airplay</mat-icon>
              </ng-template>
            </div>
            <div fxFlex="25%" [matTooltip]="application.name">{{ lodash.truncate(application.name, 40) }}</div>
            <div fxFlex="70%">
              <span *ngIf="!isOpenned" class="mat-expansion-panel-header-description">
                {{ lodash.truncate(application.description, {'length': 100, 'separator': ' '}) }}
              </span>
            </div>
            <div fxFlex="5%">
              <span *ngIf="applicationEnvironments && !isOpenned">
                <w4c-deployment-status-piechart  *ngIf="applicationEnvironments[application.id]" [applicationEnvironmentDTO]="applicationEnvironments[application.id]">
                </w4c-deployment-status-piechart>
              </span>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- start of TopologyOverviewComponent -->
      <w4c-topology-overview *ngIf="isOpenned" [overview]="overview"></w4c-topology-overview>
      <!-- end of TopologyOverviewComponent -->
      <mat-action-row fxLayout="row" fxLayoutAlign="end center">
        <!-- TODO: translate status -->
        <mat-icon *ngIf="overview" [ngClass]="'w4c-deployment-status-' + overview.deploymentStatus"
          matTooltip="{{ 'DEPLOYMENT.STATUS.' + overview.deploymentStatus | translate }}">lens</mat-icon>
        <button mat-stroked-button color="primary"
          (click)="openWizard()">{{ (overview) ? ( ('DEPLOYMENT.Action.' + (overview.deploymentStatus | w4cDeploymentStatusButtonLabel)) | translate) : '' }}</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions"
                (page)="handlePage($event)">
  </mat-paginator>
</div>
