.logsViewer {
  font-size: 14px;
  height: 350px;
  overflow-y: auto;
  padding: 5px;
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logLine {
  white-space: pre-line; 
  word-wrap: break-word;
} 

