
<div xLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" fxFlex="70%">
    <mat-icon>search</mat-icon>
    <mat-form-field fxFlex="50%">
      <input matInput i18n-placeholder placeholder="Search for ..." [formControl]="searchField">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button
            (click)="deleteLogs()"
            [matTooltip]="'Wizard.Forms.ActiveDeploymentLogs.ClearLogs' | translate">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-stroked-button disabled="true" [matTooltip]="'Wizard.Forms.ActiveDeploymentLogs.Autorefresh' | translate">
      <mat-icon [color]="(isPolling) ? 'accent' : ''">cached</mat-icon>
    </button>
    <button mat-stroked-button
            (click)="autoscrollingDisabled = !autoscrollingDisabled"
            [matTooltip]="'Wizard.Forms.ActiveDeploymentLogs.Autoscrolling' | translate">
      <mat-icon [color]="(autoscrollingDisabled) ? '' : 'accent'">vertical_align_bottom</mat-icon>
    </button>
  </div>
</div>

<div #logsViewer fxLayout="column" fxLayoutAlign="start start" class="logsViewer w4c-borders mat-app-background" (scroll)="scrollChanged($event)">
  <div *ngFor="let log of logs" class="logLine" [ngClass]="'w4c-logLevel-' + log.level">
    <span>[{{ log.rawtimestamp }}] </span>
    <span>[{{ log.level }}] </span>
    <span>[{{ log.workflowId }}] </span>
    <span>[{{ log.nodeId }}] </span>
    <span>[{{ log.instanceId }}] </span>
    <span>[{{ log.operationName }}] </span>
    <span>[{{ log.content }}]</span>
  </div>
</div>
