<div>
  <mat-toolbar color="primary" layout="fill">

    <button mat-icon-button [routerLink]="['']">
      <mat-icon>home</mat-icon>
    </button>

    <span class="fill-space"></span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item [disabled]="isAuthenticated" [routerLink]="['/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item [disabled]="!isAuthenticated" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span class="fill-space"></span>
    <mat-icon color="{{ (isConnected) ? 'default' : 'warn' }}" matTooltip="{{ getStatusText() }}">{{ getStatusIcon() }}</mat-icon>
    <theme-picker></theme-picker>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
</div>
