.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.desc {
  color: gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  /* équivalent à
  color: blue;
  color: #0000ff;
  color: #00f;
  color: hsl(0, 100%, 50%); */
}
