<h3>
  <div class="home-component-feature-list-summary"><ng-container i18n>Welcome to Wizard4Cloud !</ng-container>&nbsp;<ng-container i18n>From here you can access following features:</ng-container></div>
</h3>
<div class="home-component-feature-list">
  <a *ngFor="let feature of features"
    class="home-component-feature-list-item"
    [ngClass]="{'home-component-feature-list-item-disabled': !(feature.allowed && isConnected)}"
    [routerLink]="[feature.activationLink]"
    (mouseover)="feature.active = isConnected && feature.allowed"
    (mouseout)="feature.active = false">
    <mat-card class="home-component-feature-list-card">
      <mat-card-header fxLayoutAlign="space-between center" class="home-component-feature-list-header">
        <mat-icon *ngIf="feature.active || true" [color]="(feature.active) ? 'primary' : ''" flex class="featureIcon">{{feature.iconName}}</mat-icon>
        <mat-card-title [ngClass]="{'w4c-primary-text-A200': feature.active}" flex>{{feature.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="home-component-feature-list-card-summary">{{feature.description}}</mat-card-content>
    </mat-card>
  </a>
</div>
