<div fxLayout="column" fxLayoutAlign="center center" class="w4c-wizard-form">
  <form class="metaprops-form" [w4cManageFormFocus]="metaPropertiesForm">
    <w4c-property-editor
      *ngFor="let mpd of metaPropertyDefinitions;"
      [propertyDefinition]="mpd.configuration"
      [formGroup]="metaPropertiesForm"
      [id]="mpd.configuration.id"
      [label]="mpd.configuration.name"
      [value]="mpd.value"
      (valueChange)="metapropertyValueChanged(mpd.configuration, $event)">
    </w4c-property-editor>
  </form>
</div>
<w4c-wizard-control [fsmContext]="fsmContext"
                    [forwardFn]="doComplete.bind(this)"
                    [forwardEnabledFn]="formIsValid.bind(this)">
</w4c-wizard-control>


