<div fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-error">{{fsmContext.errorMessage}}</div>
  <div>
    <p><span>Application : {{application}} </span></p>
    <p><span>Version : {{version}} </span></p>
    <p><span>Target : {{target}}</span></p>
  </div> 
</div>

<w4c-wizard-control [fsmContext]="fsmContext"
                    [forwardFn]="deployApp.bind(this)"
                    forwardAltLabel="deploy !"
                    forwardGuard="canSubmitDeployment"
></w4c-wizard-control>
