<div fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-error">{{fsmContext.errorMessage}}</div>
  <div>
    <p><span>Application : {{application}} </span></p>
    <p><span>Version : {{version}} </span></p>
    <p><span>Target : {{target}}</span></p>
  </div> 
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-stroked-button disabled="true" (click)="back()" type="button">Back</button>
  <button mat-stroked-button disabled="true" (click)="cancel()" type="button">Cancel</button>
<!--  <button mat-stroked-button (click)="deployApp()" type="button">Deploy application</button>-->
  <w4c-wizard-button enableOnGuard="canSubmitDeployment" [fsmContext]="fsmContext" (click)="deployApp()" label="Deploy"></w4c-wizard-button>
</div>
