<div class="w4c-full-width">
  <div [ngClass]="{'disableForm': isDisabled}">
    <div class="w4cStepComponentContainer">
      <mat-card *ngIf="wizardFormStep">
        <div fxLayout="row" fxLayoutAlign="space-between start">
          <div fxLayout="column">
            <div class="mat-card-title">{{ 'Wizard.Forms.' + wizardFormStep.id + ".stepTitle" | translate }}</div>
            <div class="mat-card-subtitle">{{ 'Wizard.Forms.' + wizardFormStep.id + ".stepDescription" | translate }}</div>
            <w4c-workflow-progress-bar *ngIf="wizardForm.fsmContext && wizardForm.fsmContext.progessBarData" [fsmContext]="wizardForm.fsmContext"></w4c-workflow-progress-bar>
          </div>
          <div *ngIf="wizardForm && wizardForm.fsmContext">
            <table class="context-infos">
              <tr *ngIf="wizardForm.fsmContext.application">
                <td class="context-label" align="right">{{ 'Global.Application' | translate }}: </td>
                <td class="context-data">{{ wizardForm.fsmContext.application.name }}</td>
              </tr>
              <tr *ngIf="wizardForm.fsmContext.application">
                <td class="context-label" align="right">ID: </td>
                <td class="context-data">{{ wizardForm.fsmContext.application.id }}</td>
              </tr>
              <tr *ngIf="wizardForm.fsmContext.deploymentTopologyDTO">
                <td class="context-label" align="right">{{ 'Global.Version' | translate }}: </td>
                <td class="context-data">{{ wizardForm.fsmContext.deploymentTopologyDTO.topology.versionId }}</td>
              </tr>
              <tr *ngIf="wizardForm.fsmContext.environment">
                <td class="context-label" align="right">{{ 'Global.Environment' | translate }}: </td>
                <td class="context-data">{{ wizardForm.fsmContext.environment.name }}</td>
              </tr>
              <tr *ngIf="wizardForm && wizardForm.fsmContext && wizardForm.fsmContext.deploymentStatus">
                <td class="context-label" align="right">
                  <mat-icon inline="true" [ngClass]="'w4c-deployment-status-' + wizardForm.fsmContext.deploymentStatus"
                            matTooltip="{{ 'DEPLOYMENT.STATUS.' + wizardForm.fsmContext.deploymentStatus | translate }}">lens</mat-icon>
                </td>
                <td class="context-data">{{ 'DEPLOYMENT.STATUS.' + wizardForm.fsmContext.deploymentStatus | translate }}</td>
              </tr>
            </table>
          </div>
        </div>
      </mat-card>
      <div *ngIf="isDisabled" fxLayout="row" fxLayoutAlign="center center">
        <div  class="loader"></div>
      </div>
      <ng-template w4cStepComponent></ng-template>
    </div>
  </div>
</div>
